@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Lato', sans-serif;

    --bgBase: '#000000';

    --primary500: '#008f44';
    --primary300: '#48b57d';
    --primary100: '#a2c6ad';
    --primary50: '#dff2e5';

    --text50: '#111827';
    --text100: '#4b5563';
    --text300: '#9ca3af';
    --text500: ' #ffffff';

    --line100: '#d5d5d5';
    --line200: '#d2d2d2';

    --black: '#000000';
    --white: '#ffffff';

    --error500: '#error500';
  }
}
